<div class="home">
    <div class="top">
        <h2 id="dis">Discover <i id="dot" class="fa-solid fa-circle"></i></h2>
        <div><img id="dp" src ="DoorMan-logo.jpg"></div>
    </div>
    <br>
    <div class="stat">    
        <div class="status">
            <img id="box"src="DoorMan-logo.jpg" alt=""> <br>
            <img id="round" src="DoorMan-logo.jpg" alt="">
        </div>

        <div class="status">
            <img id="box"src="DoorMan-logo.jpg" alt=""> <br>
            <img id="round" src="DoorMan-logo.jpg" alt="">
        </div>

        <div class="status">
            <img id="box"src="DoorMan-logo.jpg" alt=""> <br>
            <img id="round" src="DoorMan-logo.jpg" alt="">
        </div>
    </div>

    <div>
        <div class="title">
            <div  class="post_title">
                <img  id="post_T"src="pic.jpg" alt="">
                <h2>Micheal Newman</h2>
            </div>
            <P>Css, java programmer</P>
        </div>
    
        <div class="post">
    
        </div>
    
        <div class="btn">
            <div class="like">
                <button><i onclick="likeclick()" id="like-btn" class="fa-regular fa-heart"></i></button> 
                <p id="likeNum">0</p>
            </div>
    
            <div class="comm">
                <button class="comment"><i onclick="comment_btn()" id="comment"class="fa-regular fa-comment"></i></button> 
                <p id="likCom">0</p>
            </div>
    
            <div class="sha">
                <button class="share"><i onclick="share_btn()" id ="share"class="fa-solid fa-share"></i></button> 
                <p id="likeShare">0</p>
            </div>
        </div>
    </div>
    
    <div>
        <div class="title">
            <div  class="post_title">
                <img  id="post_T"src="pic.jpg" alt="">
                <h2>Micheal Newman</h2>
            </div>
            <P>Css, java programmer</P>
        </div>
    
        <div class="post">
    
        </div>
    
        <div class="btn">
            <div class="like">
                <button><i onclick="likeclick()" id="like-btn" class="fa-regular fa-heart"></i></button> 
                <p id="likeNum">0</p>
            </div>
    
            <div class="comm">
                <button class="comment"><i onclick="comment_btn()" id="comment"class="fa-regular fa-comment"></i></button> 
                <p id="likCom">0</p>
            </div>
    
            <div class="sha">
                <button class="share"><i onclick="share_btn()" id ="share"class="fa-solid fa-share"></i></button> 
                <p id="likeShare">0</p>
            </div>
        </div>
    </div>

    <div>
        <div class="title">
            <div  class="post_title">
                <img  id="post_T"src="pic.jpg" alt="">
                <h2>Micheal Newman</h2>
            </div>
            <P>Css, java programmer</P>
        </div>
    
        <div class="post">
    
        </div>
    
        <div class="btn">
            <div class="like">
                <button><i onclick="likeclick()" id="like-btn" class="fa-regular fa-heart"></i></button> 
                <p id="likeNum">0</p>
            </div>
    
            <div class="comm">
                <button class="comment"><i onclick="comment_btn()" id="comment"class="fa-regular fa-comment"></i></button> 
                <p id="likCom">0</p>
            </div>
    
            <div class="sha">
                <button class="share"><i onclick="share_btn()" id ="share"class="fa-solid fa-share"></i></button> 
                <p id="likeShare">0</p>
            </div>
        </div>
    </div>

    <div>
        <div class="title">
            <div  class="post_title">
                <img  id="post_T"src="pic.jpg" alt="">
                <h2>Micheal Newman</h2>
            </div>
            <P>Css, java programmer</P>
        </div>
    
        <div class="post">
    
        </div>
    
        <div class="btn">
            <div class="like">
                <button><i onclick="likeclick()" id="like-btn" class="fa-regular fa-heart"></i></button> 
                <p id="likeNum">0</p>
            </div>
    
            <div class="comm">
                <button class="comment"><i onclick="comment_btn()" id="comment"class="fa-regular fa-comment"></i></button> 
                <p id="likCom">0</p>
            </div>
    
            <div class="sha">
                <button class="share"><i onclick="share_btn()" id ="share"class="fa-solid fa-share"></i></button> 
                <p id="likeShare">0</p>
            </div>
        </div>
    </div>
</div>
